<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7 col-lg-5">
        <div class="alert alert-danger" role="alert" *ngIf="falhaCadastro">
          Falha ao tentar criar uma conta!
        </div>
        <div class="login-wrap p-4 p-md-5">
          <div class="icon d-flex align-items-center justify-content-center">
            <span class="fa fa-user-o"></span>
          </div>
          <h3 class="text-center mb-4">Registre-se</h3>
          <form #clienteForm="ngForm" (ngSubmit)="onSubmit()" class="login-form">
            <div class="form-group">
              <input type="text" class="form-control rounded-left" placeholder="Nome"
                     [(ngModel)]="signUp.name" name="name" autocomplete="off" required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control rounded-left" placeholder="Username"
              [(ngModel)]="signUp.username" name="username" autocomplete="off" required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control rounded-left" placeholder="E-mail"
                     [(ngModel)]="signUp.email" name="email" autocomplete="off" required>
            </div>
            <div class="form-group d-flex">
              <input type="password" class="form-control rounded-left" placeholder="Senha"
              [(ngModel)]="signUp.password" name="password" required>
            </div>
            <div class="form-group">
              <button type="submit" class="form-control btn btn-primary rounded submit px-3">Ir</button>
            </div>
            <div class="form-group d-md-flex">
              <div class="w-50">
                <a href="#" [routerLink]="['']">Já possui uma conta? Faça login!</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
